# Create an OSEv3 group that contains the masters and nodes groups
# For highly available load balancer a custom setup is needed, see
# for example https://github.com/myllynen/openshift-ha-load-balancer
[OSEv3:children]
masters
nodes
etcd
glusterfs

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
ansible_ssh_user={{remote_user}}
ansible_become=yes

# https://github.com/openshift/openshift-ansible/blob/master/DEPLOYMENT_TYPES.md
deployment_type=openshift-enterprise
containerized=false
os_firewall_use_firewalld=True

# Skip env validation
openshift_disable_check=disk_availability,memory_availability,docker_storage,package_availability,package_version,docker_image_availability

# Enable cockpit
#osm_use_cockpit=true
#osm_cockpit_plugins=['cockpit-kubernetes', 'cockpit-pcp', 'setroubleshoot-server']

# Native high availability cluster method with optional load balancer.
#openshift_master_cluster_method=native
openshift_master_cluster_hostname=master01
openshift_master_cluster_public_hostname=master01.{{ip_addr}}.xip.io
openshift_override_hostname_check=true

# Configure the multi-tenant SDN plugin (default is 'redhat/openshift-ovs-subnet')
os_sdn_network_plugin_name=redhat/openshift-ovs-multitenant

# Configure SDN cluster network and kubernetes service CIDR blocks. These
# network blocks should be private and should not conflict with network blocks
# in your infrastructure that pods may require access to. Can not be changed
# after deployment.
osm_cluster_network_cidr=10.1.0.0/16
openshift_portal_net=172.30.0.0/16
osm_host_subnet_length=8

# htpasswd auth
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

# default subdomain to use for exposed routes
openshift_master_default_subdomain=apps.{{ip_addr}}.xip.io

# default project node selector
osm_default_node_selector='region=primary'

# OpenShift Router Options
openshift_hosted_router_selector='region=infra'

# Openshift Registry Options
openshift_hosted_registry_selector='region=infra'
openshift_hosted_registry_replicas=1

# Metrics deployment
openshift_metrics_install_metrics=true
openshift_metrics_start_cluster=true
openshift_metrics_hawkular_hostname=metrics.apps.{{ip_addr}}.xip.io
openshift_metrics_cassandra_limits_memory=1Gi
openshift_metrics_cassandra_requests_cpu=250m
openshift_metrics_hawkular_replicas=1
openshift_metrics_hawkular_limits_memory=1Gi
openshift_metrics_hawkular_limits_cpu=500m
openshift_metrics_hawkular_requests_memory=768Mi
openshift_metrics_hawkular_requests_cpu=250m
openshift_metrics_duration=5
openshift_metrics_cassandra_storage_type=dynamic
openshift_metrics_cassandra_pvc_size=10Gi
openshift_metrics_cassandra_nodeselector={"region":"infra"}
openshift_metrics_hawkular_nodeselector={"region":"infra"}
openshift_metrics_heapster_nodeselector={"region":"infra"}

# Logging deployment
openshift_logging_install_logging=true
openshift_logging_kibana_hostname=logging.apps.{{ip_addr}}.xip.io
openshift_logging_use_ops=false
openshift_logging_master_url=master01
openshift_logging_public_master_url=master.{{ip_addr}}.xip.io
openshift_logging_curator_default_days=7
openshift_logging_es_memory_limit=1Gi
openshift_logging_es_cpu_limit=250m
openshift_logging_es_pvc_dynamic=true
openshift_logging_es_pvc_size=10Gi
openshift_logging_curator_nodeselector={"region":"infra"}
openshift_logging_es_nodeselector={"region":"infra"}
openshift_logging_fluentd_nodeselector={"fluentd":"true"}
openshift_logging_kibana_nodeselector={"region":"infra"}

# OpenShift Template Service Broker
openshift_template_service_broker_namespaces=['openshift']

# Enable CNS (glusterfs) as default storage provider
openshift_storage_glusterfs_namespace=glusterfs
openshift_storage_glusterfs_name=storage

[masters]
master01

[etcd]
master01

[glusterfs]
node01 glusterfs_ip=192.168.122.31 glusterfs_devices='[ "/dev/vdc" ]'
node02 glusterfs_ip=192.168.122.32 glusterfs_devices='[ "/dev/vdc" ]'
node03 glusterfs_ip=192.168.122.33 glusterfs_devices='[ "/dev/vdc" ]'

[nodes]
master01 openshift_schedulable=false
infranode01 openshift_node_labels="{'region': 'infra', 'zone': 'one', 'fluentd': 'true'}" openshift_schedulable=true 
infranode02 openshift_node_labels="{'region': 'infra', 'zone': 'two', 'fluentd': 'true'}" openshift_schedulable=true
node01 openshift_node_labels="{'region':'primary', 'zone': 'one', 'fluentd': 'true'}" openshift_schedulable=true
node02 openshift_node_labels="{'region':'primary', 'zone': 'two', 'fluentd': 'true'}" openshift_schedulable=true
node03 openshift_node_labels="{'region':'primary', 'zone': 'three', 'fluentd': 'true'}" openshift_schedulable=true
